src/shop.pug
doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title Home

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.shop-nav-bg.sticky(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        //li.navbar-login
                        //    a(href='#') Log in
                        li.navbar-logged-in
                            a(href='#')
                                span.user-image
                                    img.uploaded(src='img/home-team.png')
                                    //img.default(src='img/svg/Home/icon_header_user-profile.svg')
                                | arnold schwarzenegger
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar


        //mobile navbar

        nav.m-navbar.m-navbar--shop

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a(href='#')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


        //ned mobile navbar



        // END NAVBAR


        //MAIN

        .shop

            // PRODUCT LIST

            .container.shop__container

                .row.shop__row

                    .col-md-3.shop__column

                        //SIDEBAR

                        aside.shop-sidebar
                            .shop-sidebar__card

                                .shop-sidebar__title
                                    p.paragraph-small Choose a category

                                ul.shop-sidebar__list
                                    li.active.shop-sidebar__list-item
                                        a(href='#') ALL
                                    li.shop-sidebar__list-item
                                        a(href='#') CMS
                                    li.shop-sidebar__list-item
                                        a(href='#') Android
                                    li.shop-sidebar__list-item
                                        a(href='#') Help/Support
                                    li.shop-sidebar__list-item
                                        a(href='#') Reseller
                                    li.shop-sidebar__list-item
                                        a(href='#') Layouts

                        //END SIDEBAR

                    .col-md-9.shop__column-main

                        .main-card

                            .shop__row-inside

                                //item

                                .shop__item

                                    .shop__item-content

                                        .item-image
                                            img(src='img/svg/Shop/icon_shop_hosting.svg')

                                            .image-overlay
                                                a(href='#')
                                                    img(src='img/svg/Shop/icon_shop_cart.svg')
                                                    img(src='img/svg/Shop/icon_shop_cart_blue.svg')
                                                a(href='#')
                                                    img(src='img/svg/Shop/icon_shop_eye_white.svg')
                                                    img(src='img/svg/Shop/icon_shop_eye_blue.svg')


                                        .shop__item-description
                                            h3.title-medium.title-medium--shop Xibo for Android
                                            p.paragraph-small
                                                | Purchase Xibo for Android licences as a
                                                | one-off charge for a particular version.
                                            span.title-big
                                                | 21.00

                                        .shop__add-to-cart
                                            a.text-small(href='#')
                                                img(src='img/svg/Shop/icon_shop_cart_blue.svg')
                                                | ADD TO CART

                                        a.cta-btn-long
                                            | Learn more
                                            img(src='img/svg/Shop/icon_shop_right-arrow.svg')

                                //item

                                .shop__item

                                    .shop__item-content

                                        .item-image
                                            img(src='img/svg/Shop/icon_shop_windows-client.svg')

                                            .image-overlay
                                                a(href='#')
                                                    img(src='img/svg/Shop/icon_shop_cart.svg')
                                                    img(src='img/svg/Shop/icon_shop_cart_blue.svg')
                                                a(href='#')
                                                    img(src='img/svg/Shop/icon_shop_eye_white.svg')
                                                    img(src='img/svg/Shop/icon_shop_eye_blue.svg')


                                        .shop__item-description
                                            h3.title-medium.title-medium--shop CMS Cloud Hosting
                                            p.paragraph-small
                                                | A 14 day free demo is available,
                                                | click select and tick Demo Account.
                                            span.title-big
                                                | 1.70

                                        .shop__add-to-cart
                                            a.text-small(href='#')
                                                img(src='img/svg/Shop/icon_shop_cart_blue.svg')
                                                | ADD TO CART

                                        a.cta-btn-long
                                            | Learn more
                                            img(src='img/svg/Shop/icon_shop_right-arrow.svg')


            // END PRODUCT LIST


        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER



        // JQuery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js',
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
        crossorigin='anonymous')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        // Custom JS
        script(src='js/custom.min.js')

dist/shop.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--end-->
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet">
    <!--end-->
    <!-- Main CSS-->
    <link href="css/main.min.css" rel="stylesheet">
    <!--end-->
    <title>Home</title>
  </head>
  <body>
    <!-- NAVBAR-->
    <!--desktop navbar-->
    <nav class="navbar navbar-default navbar-fixed-top shop-nav-bg sticky" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"><img src="img/xibo-logo.svg" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Help</a></li>
            <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Services<i class="glyphicon glyphicon-menu-down"></i></a>
              <ul class="dropdown-menu">
                <li class="dropdown-triangle"><img src="img/svg/Home/icon_header_triangle.svg"></li>
                <li><a href="#">Cloud hosting<img src="img/svg/Home/icon_home_cloud_blue.svg"><img src="img/svg/Home/icon_home_cloud_dark.svg"><span>Simple, reliable, scalable Xibo CMS Cloud Hosting</span></a></li>
                <li><a href="#">Development<img src="img/svg/Home/icon_home_development_blue.svg"><img src="img/svg/Home/icon_home_development_dark.svg"><span>Sponsor the development of a new feature or bug fix</span></a></li>
                <li><a href="#">Design<img src="img/svg/Home/icon_home_design_blue.svg"><img src="img/svg/Home/icon_home_design_dark.svg"><span>Outsource your design work to our experts</span></a></li>
                <li><a href="#">Reselling<img src="img/svg/Home/icon_home_reselling_blue.svg"><img src="img/svg/Home/icon_home_reselling_dark.svg"><span>Considering Xibo as the foundation for your business?</span></a></li>
                <li><a href="#">Xibo for Android<img src="img/svg/Home/icon_home_android_blue.svg"><img src="img/svg/Home/icon_home_android_dark.svg"><span>Built for the Xibo CMS, runs on Android</span></a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-twitter"><a href="#"><img src="img/svg/Home/icon_header_git.svg" alt="twitter">Follow us</a></li>
            <!--li.navbar-login-->
            <!--    a(href='#') Log in-->
            <li class="navbar-logged-in"><a href="#"><span class="user-image"><img class="uploaded" src="img/home-team.png">
                  <!--img.default(src='img/svg/Home/icon_header_user-profile.svg')--></span>arnold schwarzenegger</a></li>
            <li class="navbar-cart"><a href="#"><img src="img/svg/Home/icon_header_cart.svg" alt="cart"><span>2</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--end desktop navbar-->
    <!--mobile navbar-->
    <nav class="m-navbar m-navbar--shop">
      <div class="m-navbar__top">
        <div class="m-navbar__logo"><a href="#"><img src="img/logo.png" alt="logo"></a></div>
        <div class="m-navbar__toggle"><span></span></div>
      </div>
      <div class="m-navbar__popup"><span class="m-navbar__close-popup"><img src="img/svg/Help/icon_help_close.svg" alt="close"></span>
        <ul class="m-navbar__list">
          <li class="m-navbar__list-item"><a href="#">Home</a></li>
          <li class="m-navbar__list-item"><a href="#">Shop</a></li>
          <li class="m-navbar__list-item"><a href="#">About</a></li>
          <li class="m-navbar__list-item"><a href="#">Help</a></li>
          <li class="m-navbar__list-item"><a href="#">Download</a></li>
        </ul>
        <div class="m-navbar__services">
          <h5 class="m-title">Services</h5>
          <ul class="m-navbar__list m-navbar__list--services">
            <li class="m-navbar__list-item"><a href="#">Hosting</a></li>
            <li class="m-navbar__list-item"><a href="#">Reselling</a></li>
            <li class="m-navbar__list-item"><a href="#">Design</a></li>
            <li class="m-navbar__list-item"><a href="#">Xibo for Android</a></li>
            <li class="m-navbar__list-item"><a href="#">Development</a></li>
          </ul>
        </div>
        <div class="m-navbar__footer">
          <div class="m-navbar__login"><a href="#">Log in</a></div>
          <div class="m-navbar__twitter"><a href="#"><img src="img/svg/Home/icon_home_git_dark.svg" alt="twitter">Follow us</a></div>
        </div>
      </div>
    </nav>
    <!--ned mobile navbar-->
    <!-- END NAVBAR-->
    <!--MAIN-->
    <div class="shop">
      <!-- PRODUCT LIST-->
      <div class="container shop__container">
        <div class="row shop__row">
          <div class="col-md-3 shop__column">
            <!--SIDEBAR-->
            <aside class="shop-sidebar">
              <div class="shop-sidebar__card">
                <div class="shop-sidebar__title">
                  <p class="paragraph-small">Choose a category</p>
                </div>
                <ul class="shop-sidebar__list">
                  <li class="active shop-sidebar__list-item"><a href="#">ALL</a></li>
                  <li class="shop-sidebar__list-item"><a href="#">CMS</a></li>
                  <li class="shop-sidebar__list-item"><a href="#">Android</a></li>
                  <li class="shop-sidebar__list-item"><a href="#">Help/Support</a></li>
                  <li class="shop-sidebar__list-item"><a href="#">Reseller</a></li>
                  <li class="shop-sidebar__list-item"><a href="#">Layouts</a></li>
                </ul>
              </div>
            </aside>
            <!--END SIDEBAR-->
          </div>
          <div class="col-md-9 shop__column-main">
            <div class="main-card">
              <div class="shop__row-inside">
                <!--item-->
                <div class="shop__item">
                  <div class="shop__item-content">
                    <div class="item-image"><img src="img/svg/Shop/icon_shop_hosting.svg">
                      <div class="image-overlay"><a href="#"><img src="img/svg/Shop/icon_shop_cart.svg"><img src="img/svg/Shop/icon_shop_cart_blue.svg"></a><a href="#"><img src="img/svg/Shop/icon_shop_eye_white.svg"><img src="img/svg/Shop/icon_shop_eye_blue.svg"></a></div>
                    </div>
                    <div class="shop__item-description">
                      <h3 class="title-medium title-medium--shop">Xibo for Android</h3>
                      <p class="paragraph-small">
                        Purchase Xibo for Android licences as a
                        one-off charge for a particular version.
                      </p><span class="title-big">21.00</span>
                    </div>
                    <div class="shop__add-to-cart"><a class="text-small" href="#"><img src="img/svg/Shop/icon_shop_cart_blue.svg">ADD TO CART</a></div><a class="cta-btn-long">Learn more<img src="img/svg/Shop/icon_shop_right-arrow.svg"></a>
                  </div>
                </div>
                <!--item-->
                <div class="shop__item">
                  <div class="shop__item-content">
                    <div class="item-image"><img src="img/svg/Shop/icon_shop_windows-client.svg">
                      <div class="image-overlay"><a href="#"><img src="img/svg/Shop/icon_shop_cart.svg"><img src="img/svg/Shop/icon_shop_cart_blue.svg"></a><a href="#"><img src="img/svg/Shop/icon_shop_eye_white.svg"><img src="img/svg/Shop/icon_shop_eye_blue.svg"></a></div>
                    </div>
                    <div class="shop__item-description">
                      <h3 class="title-medium title-medium--shop">CMS Cloud Hosting</h3>
                      <p class="paragraph-small">
                        A 14 day free demo is available,
                        click select and tick Demo Account.
                      </p><span class="title-big">1.70</span>
                    </div>
                    <div class="shop__add-to-cart"><a class="text-small" href="#"><img src="img/svg/Shop/icon_shop_cart_blue.svg">ADD TO CART</a></div><a class="cta-btn-long">Learn more<img src="img/svg/Shop/icon_shop_right-arrow.svg"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PRODUCT LIST-->
    </div>
    <!--END MAIN-->
    <!-- FOOTER-->
    <footer class="footer">
      <div class="container footer__container">
        <div class="footer__row">
          <div class="footer__column"><img src="img/spring-signage_logo_white.svg" alt="spring signage">
            <p class="text-small">
              36 Church Street - Ground Floor,
              North Laine, Brighton, BN 1 1RL
            </p><span class="footer__registered text-small">Registered company: 07811749</span><span class="footer__copyright text-small">© 2017 Spring Signage LTD</span>
          </div>
          <div class="footer__column visible-xs"><span class="footer__registered footer__registered--mobile text-small">Registered company: 07811749</span></div>
          <div class="footer__column">
            <h3 class="title-medium">Product</h3>
            <ul class="footer__list">
              <li class="footer__list-item"><a href="#">Home</a></li>
              <li class="footer__list-item"><a href="#">About</a></li>
              <li class="footer__list-item"><a href="#">Download</a></li>
              <li class="footer__list-item"><a href="#">Xibo for Android</a></li>
              <li class="footer__list-item"><a href="#">Shop</a></li>
            </ul>
          </div>
          <div class="footer__column">
            <h3 class="title-medium">Company</h3>
            <ul class="footer__list">
              <li class="footer__list-item"><a href="#">Hosting</a></li>
              <li class="footer__list-item"><a href="#">Development</a></li>
              <li class="footer__list-item"><a href="#">Design</a></li>
              <li class="footer__list-item"><a href="#">Reseller</a></li>
              <li class="footer__list-item"><a href="#">Terms</a></li>
              <li class="footer__list-item"><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footer__column">
            <h3 class="title-medium">Help</h3>
            <ul class="footer__list">
              <li class="footer__list-item"><a href="#">Help Page</a></li>
              <li class="footer__list-item"><a href="#">User Manual</a></li>
              <li class="footer__list-item"><a href="#">Blog</a></li>
              <li class="footer__list-item"><a href="#">Community Forum</a></li>
              <li class="footer__list-item"><a href="#">Knowledge Base</a></li>
              <li class="footer__list-item"><a href="#">Youtube Channel</a></li>
            </ul>
          </div>
          <div class="footer__column">
            <h3 class="title-medium">Stay in touch</h3><a class="footer__cta cta-btn-small cta-btn-small--blue-bg">CONTACT US<img src="img/svg/Home/icon_footer_envelope.svg" alt="message"></a>
            <ul class="footer__social-links">
              <li class="footer__social-links-item"><a href="#"><img src="img/svg/Home/icon_footer_facebook_blue.svg" alt="facebook"><img src="img/svg/Home/icon_footer_facebook.svg" alt="facebook"></a></li>
              <li class="footer__social-links-item"><a href="#"><img src="img/svg/Home/icon_footer_twitter_blue.svg" alt="twitter"><img src="img/svg/Home/icon_footer_twitter.svg" alt="twitter"></a></li>
              <li class="footer__social-links-item"><a href="#"><img src="img/svg/Home/icon_footer_google_blue.svg" alt="google"><img src="img/svg/Home/icon_footer_google.svg" alt="google"></a></li>
              <li class="footer__social-links-item"><a href="#"><img src="img/svg/Home/icon_footer_rss_blue.svg" alt="rss"><img src="img/svg/Home/icon_footer_rss.svg" alt="rss"></a></li>
              <li class="footer__social-links-item"><a href="#"><img src="img/svg/Home/icon_footer_youtube_blue.svg" alt="youtube"><img src="img/svg/Home/icon_footer_youtube.svg" alt="youtube"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER-->
    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Custom JS-->
    <script src="js/custom.min.js"></script>
  </body>
</html>
